{% extends 'base.html' %}
{% block head %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing.css') }}">
{% endblock %}

{% block body %}
<form action="#" method='post' autocomplete="off">
    <h1>Enter Admin Password</h1>
    <input type="password" name='pwd_box' spellcheck="false" placeholder="Enter here" required>
    <input type="submit" value="SUBMIT">

</form>
<script>
$(document).bind('keydown', function(event) {
    if( event.which === 192) {
        window.location.href = "{{ url_for('home') }}";
    }
});
</script>
{% endblock %}