{% extends 'base.html' %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">

{% endblock %}

{% block body %}
<center>
    <h1>NCFE EVM DASHBOARD</h1>
    <div id='container'>
        <a href="{{ url_for('show_candidate') }}"><div id='enter_candidates' class='in'>
            <center>
                <img src="{{ url_for('static',filename='default_picture.png')}}" alt="user pic">
            <h2 style="text-decoration:none;">Show Candidates</h2>
            </center>
        </div></a>
        <a href="{{ url_for('voting_settings') }}"><div id='toggle_voting' class='in'>
            <center>
                <img src="{{ url_for('static',filename='ballot_picture.png')}}" alt="user pic">
                {% if not valid %}
                <h2>Start Voting</h2>
                {% else %}
                <h2>Stop Voting</h2>
                {% endif %}
            </center>
        </div></a>
        <a href="{{ url_for('settings') }}"><div id='settings' class='in'>
            <center>
                <img src="{{ url_for('static',filename='settings.png')}}" alt="user pic">
            <h2>Settings</h2>
            </center>
        </div></a>
    </div>
</center>
{% endblock %}