{% extends 'base.html' %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/enter_candidates.css') }}">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"> </script>
{% endblock %}

{% block body %}
{% set default_candidates = ['head_boy','head_girl','assistant_head_boy','assistant_head_girl','cultural_captain','cultural_vice_captain','sports_captain','sports_vice_captain','kingfisher_captain','kingfisher_vice_captain','flamingo_captain','flamingo_vice_captain','falcon_captain','falcon_vice_captain','eagle_captain','eagle_vice_captain'] %}

<a href="{{ url_for('dashboard') }}"><input type="button" value="BACK" id='back'></a>

<center>
<h1>ENTER CANDIDATES</h1>
</center>
<h2>Check the posts that you want:</h2>

<table>
{% for n in range(0,len(default_candidates),4) %}
    <!--<div class='checkbox_row' id='{{ "check_row"+str(n) }}'>-->
    <tr>
    {% for post in default_candidates[n:n+4] %}
        <!--<div class="incheckbox">-->
            <td>
            <input type="checkbox" value="{{ post }}" id="{{ post+'box' }}" ><!-- onclick="showfunc(this)" -->
            <label for="{{ post+'box' }}">{{ post.replace('_',' ',5).upper() }}</label>
            </td>
        <!--</div>-->
    {% endfor %}
    </tr>
    <!--</div>-->
{% endfor %}
</table>

<table>
{% for n in range(0,len(default_candidates),4) %}
    <!--<div class="candidate_row">-->
    <tr>
    {% for post in default_candidates[n:n+4] %}
        <td>
        <div class='post_box' id="{{ post }}">
        {% if post in ['head_boy','head_girl'] %}
            <h3 style="margin-bottom: 2.25em;">{{ post.replace('_',' ',5).upper() }}</h3>
        {% else %}
            <h3>{{ post.replace('_',' ',5).upper() }}</h3>
        {% endif%}
        {% for x in range(5) %}
            <input type='text'>
            <br>
        {% endfor %}
        </div>
        </td>
    {% endfor %}
    </tr>
    <!--</div>-->
{% endfor %}
</table>

<script>
$(document).ready(function() {
                $('input[type="checkbox"]').click(function() {
                    var inputValue = $(this).attr("value");
                    if($('#' + inputValue).css("display") == "none"){
                        $("#" + inputValue).show();
                    } else {
                        $("#" + inputValue).hide();
                    }
                });
            });

/*
function showfunc(p){
    post = p.value;
    chked = p.checked;

    if (chked == 'true'){
        document.getElementById(post).style.display = "none";
    }else{
        document.getElementById(post).style.display = "block";
    }
}*/
</script>
{% endblock %}