{% extends 'eagle_base_page.html' %}
    </style>
    {% block head %}
    {% endblock %}

    {% block body%}
    <center>
    <h1 id='post'>{{ pname }}</h1>
    <div id='container'>
      {% for x in d[p] %}
        <div class='picbox' onclick="color();single_click(this);">
          <img src="{{ url_for('download_file',filename=(x + '.png')) }}" alt="user pic" onerror=this.src="{{ url_for('static',filename='default_white.png') }}">
          <p>{{  x  }}</p>
        </div>
      {% endfor %}

    </div>
    <form action="{{ url_for(p) }}" method="post">
      <a href="{{ url_for(prev_post(p)) }}"><input type="button" value="BACK" id='back'></a>
      <input type="button" name="{{ p+'_button' }}" id='btn' value="SUBMIT" onclick="btn_click()">
      {% if lastthere %}
      <input type="submit" id='next_page_btn'  value="BACK TO REVIEW PAGE">
      {% else %}
      <input type="submit" id='next_page_btn'  value="NEXT PAGE">
      {% endif %}
      <input type="hidden" name="{{ p+'_choice' }}" style="display: none;" id="hidden" value="{{ session[p+'_choice'] }}">
      <p id="lehidden">{{ session[p+'_choice'] }}</p>
    </form>

    </center>
    {% endblock %}