{% extends "base_page.html" %}
{% block head %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/review.css') }}">
{% endblock %}
{% block body %}

<center>
    <h1>The Review</h1>
    <table class="letable">
        <tr>
        <th style="border-right:2px solid #f6c90e;" >Post</th>
        <th>Selected Candidate</th>
        </tr>

        {% for post in cur_posts %}
            {% if session[post+'_choice'] and session[post+'_choice'] != 'DNE' %}
                <tr>

                    <td class="postside"><a href="{{ url_for('load_post',post=post) }}">{{ post.replace('_',' ').replace('choice','') }}</a></td>
                    <td class="candidateside">{{ title(session[post+'_choice']) }}</td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

    <form action="" method="post">
        <input type="submit" value="SUBMIT">
    </form>
</center>
<script>

</script>
{% endblock %}