{% extends "base_page.html" %}
{% block head %}
<style>
body{
    background-color: #303841;
}
h1{
    font-family:sans-serif;
    margin-top:1em;
    font-size:3em;
    text-transform: uppercase;
    color:#f6c90e;
    font-weight: lighter;

}
table{
    background-color: #3a4750;
    border-collapse: collapse;
    border: none;
    width:60%;
    margin-top:5%;
}
th{
    color:white;
    font-family: sans-serif;
    font-size: 2em;
    padding:3%;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: lighter;
}
.postside{
    border-left:0;
    border-top:2px solid #f6c90e;
    border-right:2px solid #f6c90e;
    text-transform: uppercase;
}
td{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align:center;
    padding:3%
}
.candidateside{
    border:none;
    border-top:2px solid #f6c90e;
}
tr:last-child td:last-child{
    border-radius:0 0 0 15px;
}
</style>
{% endblock %}
{% block body %}

<center>
    <h1>The Review</h1>
    <table class="letable">
        <tr>
        <th style="border-right:2px solid #f6c90e;" >Post</th>
        <th>Selected Candidate</th>
        </tr>

        {% for post in session %}
            <tr>
                <td class="postside">{{ post.replace('_',' ').replace('choice','') }}</td>
                <td class="candidateside">{{ session[post] }}</td>
            </tr>
        {% endfor %}

    </table>

    <form action="" method="post">
        <input type="submit" value="SUBMIT">
    </form>
</center>
<script>

</script>
{% endblock %}