{% extends "base_page.html" %}
{% block head %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/review.css') }}">
{% endblock %}
{% block body %}

<center>
    <h1>The Review</h1>
    <table class="letable">
        <tr>
        <th style="border-right:2px solid #f6c90e;" >Post</th>
        <th>Selected Candidate</th>
        </tr>

        {% for post in ['head_boy','head_girl','assistant_head_boy','assistant_head_girl','cultural_captain','cultural_vice_captain','sports_captain','sports_vice_captain','kingfisher_captain','kingfisher_vice_captain','flamingo_captain','flamingo_vice_captain','falcon_captain','falcon_vice_captain','eagle_captain','eagle_vice_captain'] %}
            {% if session[post+'_choice'] and session[post+'_choice'] != 'DNE' %}
                <tr>

                    <td class="postside"><a href="{{ url_for(post) }}">{{ post.replace('_',' ').replace('choice','') }}</a></td>
                    <td class="candidateside">{{ session[post+'_choice'] }}</td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

    <form action="" method="post">
        <input type="submit" value="SUBMIT">
    </form>
</center>
<script>

</script>
{% endblock %}