{% extends 'base.html' %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin_settings.css') }}">

{% endblock %}

{% block body %}
    <center>
        <h1>Settings</h1>
    </center>
</br>
<div id='house_change_box'>
<form method='post' action="{{ url_for('settings') }}">
    <h2 id="house_choice">House choice:{{ house_choice.upper() }}</h2>
    <input type='button' onclick="ch(1)" value="KINGFISHER">
    <input type='button' onclick="ch(2)" value="FLAMINGO">
    <input type='button' onclick="ch(3)" value="FALCON">
    <input type='button' onclick="ch(4)" value="EAGLE">
    <input type="hidden" value="" id="temp" name="hc">
    <input type="submit" value="confirm changes">
</form>
</div>

<script>
var houses = ['kingfisher','flamingo','falcon','eagle'];
function ch(n){
    document.getElementById('house_choice').innerHTML = 'House choice: '+houses[n-1].toUpperCase();
    document.getElementById('temp').value = houses[n-1];
}
</script>

{% endblock %}