{% extends 'base.html' %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/show_candidates.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ url_for('dashboard') }}"><input type="button" value="BACK" id='back'></a>
    {% if not voting_started and not voting_ended %}
        <a href="{{ url_for('add_custom_post') }}"><img src="{{ url_for('static',filename='plus_icon.svg')}}" alt="user pic" id='plus_button'></a>
        <a href="{{ url_for('delete_post') }}"><img src="{{ url_for('static',filename='delete_icon.svg')}}" alt="user pic" id='delete_button'></a>
    {% endif %}
        <center>
        <h1>CANDIDATE REFERENCE</h1>
        <div style="display:flex;" id='main'>
            {% for x in range(4) %}
                {% for y in load_list[x] %}
                    <div class='default'>
                        <button onclick="show(this);" id="{{ y }}" class="{{ getcolor(y) }}">{{ title(y) }}</button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% if len(custom_posts) != 0 %}
            <h1 style='padding-bottom:5%;padding-top:3%;'>CUSTOM POSTS</h1>
            <div style='display:flex;' id='custom_posts'>
                {% for post in custom_posts %}
                    <div class='custom'>
                        <button onclick="show(this);" id="{{ title(post) }}" class="{{ getcolor(title(post)) }}">{{ title(post) }}</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </center>
    
    <p id="storage" style="display: none;">{{ candidates }}</p>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <center>
                <h1 id="modal_heading"></h1>
                <div id="prev_names">
                {% for x in range(5) %}
                    <input type='text' id="{{ 'candidate'+str(x) }}" class="in_modal_candidates"> 
                    <br>
                {% endfor %}
                <button onclick="update_candidates();" id='update'>UPDATE</button>
                <form method="POST"><input type="submit" value="CONFIRM CHANGES" id='confirm'><input type='hidden' id='candvalue' name='candvalue'></form>
                </div>
            </center>
        </div>
    </div>

    <script>
        //We fetch the id's of the elements we are working with
        var data = document.getElementById('storage').innerHTML;
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        //We get  the candidates in the form of a dictionary
        var candidates = JSON.parse(data.replace(/'/g,"\""))
        console.log(candidates);
        function show(thing){
            //We change the name of the of the post of the modal box
            post = thing.id.toLowerCase().split(' ').join('_');
            //We show the box
            modal.style.display = "block";
            //We make the heading uppercase
            document.getElementById('modal_heading').innerHTML = thing.id.toUpperCase();
            var i;//temp var
            if (typeof candidates[post]  == "undefined" || candidates.length<0){
                //In case there is no post existing,we put no one
                candidates[post] = ['No one'];
                var x =0;
            }else{
                //Here we setup the variable to iterate the input tags of the modal box
                var x = candidates[post].length;
            }
            if (x>0){
                for (i=0;i<x;i++){
                    //We change the value of the input tags one by one for the given number of posts
                    document.getElementById('candidate'+i.toString()).value = candidates[post][i].toUpperCase();
                }
                for (i=x;i<5;i++){
                    //For the remaining input tags,we change the value of the input tags
                    document.getElementById('candidate'+i.toString()).value = '';
                }
            }else {
                for (i=0;i<5;i++){
                    //If x is zero,that is, there is no post ,hence value changed to none
                    document.getElementById('candidate'+i.toString()).value = "";
                }
            }
            var text,bg,candidates_names;
            //Here we modify the background and the text colours according to the post
            if (post.slice(0,10) == 'kingfisher'){
                text = "#03A9F4";
                bg = "#036f96";
                candidates_names = "white";
            }
            else if (post.slice(0,8) == 'flamingo'){
                bg = "#E05707";
                text = "#FF6D00";
                candidates_names = "white";
            }
            else if (post.slice(0,6) == 'falcon'){
                text = "#7E58BF";
                bg = "#432A73";
                candidates_names = "white";
            }
            else if (post.slice(0,5) == 'eagle'){
                text = "#B81A1C";
                bg = "#750407";
                candidates_names = "white";
            }
            else{
                text = "#FCED47";
                bg  = "black";
                candidates_names = "#FCED47";
            }
            //In this block we update the modal block
            modal_box = document.getElementsByClassName('modal-content')[0];
            modal_box.style.color = text;
            modal_box.style.backgroundColor= bg ;
            modal_box.style.border = "1px solid "+ text;
            modal_heading = document.getElementById("modal_heading");
            modal_heading.style.color = candidates_names;
            modal_text_list = document.getElementsByClassName("in_modal_candidates");
            update_button = document.getElementById('update');
            confirm_button = document.getElementById('confirm');

            //In this block we update the input tags individually
            var x = modal_text_list.length;
            for (i=0;i<x;i++){
                modal_text_list[i].style.color = candidates_names;
                modal_text_list[i].style.backgroundColor = bg;
                modal_text_list[i].style.border = '1px solid '+candidates_names;
            }

            //In this block we update the update button
            update_button.style.backgroundColor = text;
            if (bg == "black"){
                update_button.style.backgroundColor = "#151515";
            }
            update_button.style.color = candidates_names;

            //In this block we update the confirm button
            confirm_button.style.backgroundColor = bg;
            confirm_button.style.color = candidates_names;

            //This block changes the class so that we can have the borders
            if (candidates_names == "white"){
                $('#update').attr('class','house_border');
                $('#confirm').attr('class','house_border');
            }else{
                $('#update').attr('class','major_border');
                $('#confirm').attr('class','major_border');
            }

            //Here we have to hide the confirm button and show the update button
            $('#confirm').css('display','none');
            $('#update').show('display','block');

            //Here, if the voting has been started, then the color of the text in the update button is grey
            {% if voting_started %}
                $(document).ready(function(){
                    $('.in_modal_candidates').prop('disabled',true);
                    $('#update').css('pointer-events','none');
                    $('#update').css('color','#808080');
                });
            {% endif %}
        }
        function update_candidates(){
            //In this block we get the post by parsing
            heading = document.getElementById("modal_heading").innerHTML;
            x = heading.length;
            for (i=0;i<x;i++){
                heading = heading.replace(' ','_');
            }
            post = heading.toLowerCase();
            var new_candidates= [];
        
            //In this block we create a dictionary with the post as key and the candidate names as a list which is the key value
            //It is parsed so that the flask can interpret it
            modal_text_list = document.getElementsByClassName("in_modal_candidates");
            var x = modal_text_list.length;
            for (i=0;i<x;i++){
                new_candidates[i] = modal_text_list[i].value;
            }
            candidates[post] = new_candidates;

            //We JSONify the string to pass into python
            document.getElementById("candvalue").value = JSON.stringify(candidates);

            //Here we capitalize the text in the input boxes to show the update
            var x = modal_text_list.length;
            for (i=0;i<x;i++){
                modal_text_list[i].value = modal_text_list[i].value.toUpperCase();
            }

            //Hide the update buttion
            $('#update').css('display','none');
            //Show the confirm button
            $('#confirm').css('display','block');
        }

        span.onclick = function() {
          modal.style.display = "none"; 
        }

        {% if voting_started %}
        $(document).ready(function(){
            $('.in_modal_candidates').prop('disabled',true);
            $('#update').css('pointer-events','none');
        });
        {% endif %}

        </script>

{% endblock %}

