{% extends "base_page.html" %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing.css') }}">
{% endblock %}

{% block body %}
<form method='post' autocomplete="off">
    <h1>Enter Security Code</h1>
    <input type="text" placeholder="Enter code here" name='pwd_box' spellcheck="false" maxlength="5">
    {% if not voting_started %}
    <p id='voting_not_started'>VOTING HAS NOT BEEN STARTED</p>
    <input type="submit" value="SUBMIT" id='voting_not_allowed'>
    {% else %}
    <input type="submit" value="SUBMIT" id='voting_allowed'>
    {% endif %}
</form>
<script>
$(document).bind('keydown', function(event) {
    if( event.which === 192 ) {
        window.location.href = "{{ url_for('admin_page') }}";
    }
});
</script>
{% endblock %}