{% extends 'base.html' %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/voting_settings.css') }}">
{% endblock %}

{% block body %}
<a href="{{ url_for('dashboard') }}"><input type="button" value="BACK" id='back'></a>
<center>
{% if valid %}
<div class='voting_box'>
<p>Voting has Started</p>
<div>
<a href="{{ url_for('stop_voting') }}"><input type="button" value="STOP VOTING" class='button'></a>
</div>
</div>

{% else %}
<div class='voting_box'>
<p>Voting has not been Started</p>
</div></div>
<div>
    <a href="{{ url_for('start_voting') }}"><input type="button" value="START VOTING" class='button'></a>
    </div>
<P style='font-size:2em;font-family:"text";'>Number of pages of codes to be generated:{{ no_of_codes }}</P>
{% endif %}
</center>
{% endblock %}