{% extends 'base.html' %}
{% block head %}



<style>
    body{
        background-color: #121212;
        color:#f6c90e;
    }
    #container{
        display:flex;
        margin-top:14%;
        margin-left:-15%;
        height:60%;
        width:70%;
    }
    h1{
        font-size:2em;
        margin-top:5%;
    }
    .in{
        margin-left: 10%;
        margin-right:10%;
        padding:5% 5% 5% 5%;
    }
    image{
        height:10%;
        width:10%;
    }
    .in:hover{
        background-color: #161616;
        border:1px solid #f6c90e;
    }
    /*a:visited,a:active,h2{
        text-decoration:none;
        color:#f6c90e;
    }*/
</style>

{% endblock %}

{% block body %}
<center>
    <h1>NCFE EVM DASHBOARD</h1>
    <div id='container'>
        <a href="{{ url_for('enter_candidate') }}"><div id='enter_candidates' class='in'>
            <center>
            <image alt='userpic'></image>
            <h2>Enter Candidates</h2>
            </center>
        </div></a>
        <a href="{{ url_for('voting_toggle') }}"><div id='toggle_voting' class='in'>
            <center>
            <image alt='toggle_voting'></image>
            <h2>{{ voting_state }} Voting</h2>
            </center>
        </div></a>
        <a href="{{ url_for('settings') }}"><div id='settings' class='in'>
            <center>
            <image alt='settings'></image>
            <h2>Settings</h2>
            </center>
        </div></a>
    </div>
</center>
{% endblock %}