{% extends 'major_base_page.html' %}
    {% block head %}

    {% endblock %}
    
    {% block body%}

    <center>
    <h1 id='post'>cultural captain</h1>
    <div id='container'>
      {% for x in ['Sanjay','Parthiv',"Divy","Vikas"] %}
        <div class='picbox' onclick="color();single_click(this)">
          <img src="{{ url_for('static',filename='default_picture.png')}}" alt="user pic">
          <p>{{ x }}</p>
        </div>
      {% endfor %}
      
    </div>
    <form action="{{ url_for('cultural_captain') }}" method="post">
      <input type="submit" id='next_page_btn'  value="NEXT PAGE">
      <a href="{{ url_for('assistant_head_girl') }}"><input type="button" value="BACK" id='back'></a>
      <input type="button" id='btn' value="SUBMIT" onclick="btn_click()">
      <input type="hidden" name="cultural_captain_choice" style="display: none;" id="hidden">
      <p id="lehidden">{{ session['cultural_captain_choice'] }}</p>
    </form>
    
    </center>
    
    {% endblock %}