body{
    background-color: #121212;
    color:#FCED47;
}
@font-face{
    font-family:'text';
    src:url('text.ttf');
}
@font-face{
    font-family: 'heading';
    src:url('heading.ttf');
}
#container{
    display:flex;
    margin-top:7%;
    margin-left:-7%;
    height:60%;
    width:85%;
    align-items:stretch;
    justify-content: space-between;
}
h1{
    font-size:3em;
    margin-top:5%;
    font-family:'heading';
    font-weight: lighter;
}
.in{
    margin-left: 10%;
    margin-right:6%;
    padding:10% 10% 5% 10%;
    width:85%;
    height:90%;
    border:1px solid transparent;
    text-decoration: none;
    outline:none;
    /*change the height and width here to change the icon sizes*/
}
img{
    height:90%;
    width:90%;
}
.in:hover{
    background-color: #161616;
    border:1px solid #FCED47;
    width:85%-1px;
    height:90%-1px;
}
h2,a{
    text-decoration:none;
    color:#FCED47;
    align-self:center;
    font-family:'heading';
    font-weight:lighter;
}
#logout{
    position: absolute;
    left:3%;
    top:5%;
    border:none;
    outline:none;
    color:#FCED47;
    background-color: #333333;
    height:6%;
    width:13%;
}
#logout:hover{
    border:1px solid #FCED47;
}
#voting_state{
    font-family:'heading';
    /*position:absolute;*/
    font-size:2.5em;
    /*margin-left:40vw;*/
    margin-top:10vh;
}