@font-face{
    font-family:'text';
    src:url('text.ttf');
}
@font-face{
    font-family: 'heading';
    src:url('heading.ttf');
}

body{
    background-color: #121212;
    color:#f6e90e;
    font-family: 'text';
    font-weight: lighter;
}
h1{
    font-size: 2.5em;
    font-weight: lighter;
    font-family:'heading';
    margin-top:5vh;
}

#back{
  margin-left:2vw;
  margin-top:0vh;
  width:25vh;
  height:7vh;
  background-color: #212121;
  text-align:center;
  border: none;
  border-radius:20px;
  font-family:'text';
  color:#fced47;
  font-size:23px;
  position: absolute;
  outline: none;
}
#back:hover{
    border:1px solid #FCED47;
}
.major{
    color:#FCED47;
    border: 1px solid #FCED47;
    background-color: black;
}
.kf{
    color:#036f96;
    border: 1px solid #036f96;
    background-color: #9ed7f6;
}
.fl{
    color:#FCED47;
    border: 1px solid #FCED47;
    background-color: black;
}
.fa{
    color:#FCED47;
    border: 1px solid #FCED47;
    background-color: black;
}
.ea{
    color:#FCED47;
    border: 1px solid #FCED47;
    background-color: black;
}
.candidate_row{
    display:flex;
    width:90vw;

}
.post_box{
    margin-left: 5vw;
    margin-right:3vw;
    margin-bottom:8vh;
    max-width: 10vw;
    max-height: 40vh;
    display:none;
}
.checkbox_row{
    display:flex;
}
.incheckbox{
    margin-right: 4vw;
}