:root{
    --bg:#E05707;
    --box:#A63A0F;
    --text:#ffffff;
}
@font-face{
    font-family:'text';
    src:url('text.ttf');
}
@font-face{
    font-family: 'heading';
    src:url('heading.ttf');
}

body{
    background-color: var(--bg);
}


#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:10vh;
    background-color: var(--box);
    border: none;
    border-radius: 20px;
    max-width: 90%;
    flex-wrap: nowrap;
    max-height: 60vh;
}

h1{
    margin:auto;
    margin-top:3vh;
    color:#ffffff;
    font-family: 'heading';
    font-size: 3.125em;
    text-transform:uppercase;
    
}

p{
    text-align: center;
    color: var(--text);
    text-transform: uppercase;
    font-family: 'text';
    line-height: 3vh;
    width:auto;
    font-size: 18px;

}

img{
    margin:0vh;
    padding-top:10%;
    max-height:75%;
    max-width:75%;
    /*height:90%;
    width:90%;*/
}

.picbox{
    margin:3vh;
    height:50%;
    width:50%;
}

.picbox:hover{
    background-color: var(--bg);
    border:1px solid #ffffff;
}

#btn{
    width:35vh;
    height:10vh;
    /*background-color:var(--text) ;*/
    background-color: var(--box);
    text-align:center;
    border: none;
    border-radius:20px;
    font-family:'Lobster';
    color:var(--text);
    font-size:20px;
    position: absolute;
    right:6%;
    outline: none;
}
#jump_to_review{
    margin-left:50vw;
    width:35vh;
    height:10vh;
    bottom:15%;
    background-color: var(--box);
    text-align:center;
    border: none;
    border-radius:20px;
    font-family:'text';
    color:var(--text);
    font-size:20px;
    position: absolute;
    right:6%;
    outline: none;
}
#btn:hover,#back:hover,#next_page_btn:hover,#jump_to_review:hover{
    border:1px solid var(--text);
}
#next_page_btn{
  display: none;
  margin-left:50vw;
  width:35vh;
  height:10vh;
  background-color: var(--box);
  text-align:center;
  border: none;
  border-radius:20px;
  font-family:'Lobster';
  color:var(--text);
  font-size:20px;
  position: absolute;
  right:6%;
  outline: none;
}
#lehidden{
  visibility: hidden;
}
#back{
  position:absolute;
  left:6%;
  width:35vh;
  height:10vh;
  background-color: var(--box);
  text-align:center;
  border: none;
  border-radius:20px;
  font-family:'Lobster';
  color:var(--text);
  font-size:20px;
  outline: none;
}
#back,#btn,#next_page_btn{
    position: absolute;
    margin-top:15vh;
    bottom:4vh;
    outline:none;
    font-family: 'text';
}
