body{
    background-color: #121212;
}
@font-face{
    font-family:'text';
    src:url('text.ttf');
}
@font-face{
    font-family: 'heading';
    src:url('heading.ttf');
}
input:focus{
    outline:none;
}
form{
    margin:13%  15% 0 15%;
    height:70%;
    width:70%;
}
h1{
    margin-left:0px;
    font-size:3em;
    margin-bottom: 5%;
    font-family: 'heading';
    color:#f6c90e;
    text-transform: uppercase;
    font-weight: lighter;
}
input[type="text"],input[type='password']{
    text-align:center;
    letter-spacing:0.4em;
    width:100%;
    border:1px solid #f6c90e;
    background-color: #121212;
    border-radius:7%/50%;
    color:white;
    padding:5% 5% 5% 5%;
    font-family: 'heading';
    font-size:3em;
    text-transform: uppercase;
    font-weight: lighter;
}
input[type="submit"]{
    /*margin-right:10%;*/
    margin-left:83%;
    margin-top:5%;
    background-color:#212121;
    border:none;
    border-radius:1%;
    padding: 3% 5% 3% 5%;
    color:#f6c90e;
    font-family: 'heading';
    border-radius:25%/50%;
    font-size:2.5em;
}
input[type="submit"]:hover{
    border:1px solid #FCED47;
}