@font-face{
    font-family:'text';
    src:url('text.ttf');
}
@font-face{
    font-family: 'heading';
    src:url('heading.ttf');
}
::-webkit-scrollbar{
    visibility: hidden;
}
body{
    background-color: #121212;
    color:#f6e90e;
    font-family: 'text';
}
#res_window{
    display:hidden;
}
h1{
    font-size: 2.5em;
    font-weight: lighter;
    font-family:'heading';
}
#main{
    margin-top: 3%;
    flex-wrap: wrap;
    margin-left:5%;
}
.default{
    margin-right:5%;
}
.col{
    margin-right:5%;
}
#col1{
    margin-left:5%;
}
button,#confirm{
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
    width: 250px;
    height:130px;
    border-radius:15%/35%;
    font-size:2em;
    outline:none;
    padding:10px 10px 10px 10px;
}
#back{
  margin-left:5vw;
  width:35vh;
  height:10vh;
  background-color: #212121;
  text-align:center;
  border: none;
  border-radius:20px;
  font-family:'text';
  color:#fced47;
  font-size:23px;
  position: absolute;
  outline: none;
}
#back:hover,#confirm:hover{
    border:1px solid #FCED47;
}
#showup_box{
    display:none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal-content {
    position: relative;
    margin: auto;
    top:15%;
    padding-bottom:5%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
.close {
  /*color: #fced47;*/
  float: right;
  position: absolute;
  right:10px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@keyframes animatetop {
  from {top: -50%; opacity: 0}
  to {top: 15%; opacity: 1}
}
.in_modal_candidates {
    font-family: 'heading';
    color:#fced47;
    font-size:1.5em;
    margin-top:1vh;
    border:1px solid white;
    outline: none;
    width:30vw;
    text-align: center;
}
#modal_heading{
    font-size:3.5em;
}
#update,#confirm{
    height:13vh;
    width:30vw;
    font-family: 'text';
    border-radius: 0px;
    margin-top:6vh;
    border:1px solid transparent;
}
#custom_posts{
    margin-left:5%;
    flex-wrap:wrap;
}
.custom{
    margin-right:5%;
    margin-bottom:5%;
    margin-top:-4%;
}
.kf{
    background-color: #03A9F4;
}
.fa{
    background-color:#7E57C2;
}
.fl{
    background-color:#FF6D00;
}
.ea{
    background-color:#B71C1C;
}
.ma{
    background-color:#303030;
    color:#f6e90e;
    border:1px solid #202020;
    font-family:'heading';
    font-size:1.75em;
}
.kf,.fl,.fa,.ea{
    border:none;
    color:#EEEEEE;
    font-family:'heading';
    font-size:1.75em;
    border:1px solid transparent;
}
.kf:hover,.fa:hover,.fl:hover,.ea:hover,.house_border:hover{
    border:1px solid white!important;
}
.ma:hover,.major_border:hover{
    border:1px solid #FCED47!important;
}
#plus_button{
    margin-left:87vw;
    position: absolute;
    border:1px solid transparent;
    border-radius:50%;
    padding:10px;
    background-color: #94979c;
}
#plus_button:hover,#delete_button:hover{
    background-color: #cacdd3;
}
#delete_button{
    margin-left:82vw;
    position: absolute;
    border:1px solid transparent;
    border-radius:50%;
    padding:10px;
    background-color: #94979c;
}